body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0 25% 0 25%;
}

h1{
  text-align: center;
}

.partido{
  display: flex;
  background-color: #ccc;
  justify-content: space-between;
  border-bottom: 1px dashed #ccc;
  margin-bottom: 10px;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(2, 1fr);
}

.team-data{
  align-items: center;
  text-align: center;
}

.resultado{
  grid-template-columns: repeat(3, 1fr);
}

img{
  height: 20px;
  width: 20px;
}
